p {
    color: royalblue;
    font-family: sans-serif, arial, tahoma;
    font-size: 20px;
    font-weight: 600;
    text-align: justify;
    line-height: 2.5;
}

span {
    text-transform: lowercase;
    text-decoration: line-through;
}